.c-error {
    color: red;
    font-size: 12px;
    &__input {
        background: #ffe1df;
        border-color: #ff6366;

        &:focus {
            border-color: #ff6366;
        }
    }
    &__authflash {
        @include custumRadius(5px);
        padding: 12px 16px;
        background-color: #ffd6da;
        color: $font-color_default;
        margin-top: 32px;
    }
    &__twuser {
        text-align: center;
        @include sm() {
            text-align: none;
        }
    }
}
