.p-eyecatch {
    height: 100vh;
    background-image: url(../images/top_eyecatch.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &__wrap {
        top: 30%;
        left: 10%;
        position: absolute;
        @include sm() {
            top: 34%;
            left: 7%;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 48px;
        @include sm() {
            font-size: 32px;
            margin-bottom: 24px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-evenly;
        @include sm() {
            display: block;
        }

        &--text {
            line-height: 50px;
            @include sm() {
                margin-top: 16px;
            }
        }
        &--link {
            color: $link-color;
        }
    }
    &__footer {
        background-image: url(../images/footer_eyecatch.png);

        &--title {
            text-align: center;
            font-size: 64px;
            padding-top: 100px;
            font-weight: 600;
            @include sm() {
                font-size: 32px;
                padding-top: 130px;
            }
        }

        &--signup {
            margin-top: 24px;
            text-align: center;
        }
    }
}
