.p-header {
    color: #fff;
    &--isActive {
        opacity: 1;
        transition: all 0.5s;
        transform: translateX(-100%);
        z-index: 2;
    }
    &__logo {
        width: 220px;
        height: 100%;
        vertical-align: baseline;
        @include sm() {
            width: 200px;
            margin-left: -40px;
        }
    }
    &__logoLink {
        height: 100%;
    }
    &__nav {
        display: block;
        &__sp {
            @include sm() {
                display: block;
                position: absolute;
                top: 0;
                right: -100%;
                background: rgba(10, 11, 55, 0.822);
                width: 100%;
                height: 100vh;
                transition: all 0.5s;
                padding-top: 70px;
                position: fixed;
                z-index: 2;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sm() {
            display: block;
        }
        &--sub {
            justify-content: space-around;
        }
    }
    &__item {
        margin-right: $space_xxl;
        @include sm() {
            padding: 15px;
            font-size: 30px;
            margin-left: 24px;
            text-align: center;
            &:nth-child(1) {
                margin-top: 32px;
            }
        }
        & > a {
            text-decoration: none;
            cursor: pointer;
        }
        &--link {
            transition: color opacity 0.3s;
            color: $font-color_primary;
            &:hover {
                transition: color opacity 0.3s;
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
    // スマホ用SPメニュー
    &__burger {
        display: none;
        transition: all 0.4s;
        box-sizing: border-box;
        position: relative;
        width: 40px;
        height: 32px;
        z-index: 3;
        margin-right: 8px;
        @include sm() {
            display: inline-block;
        }
        & span {
            display: inline-block;
            background-color: $font-color_primary;
            transition: all 0.4s;
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            left: 0;
            border-radius: 4px;
            height: 4px;
            &:nth-of-type(1) {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 14px;
            }
            &:nth-of-type(3) {
                bottom: 0;
            }
        }
        &.active span {
            &:nth-of-type(1) {
                transform: translateY(12px) rotate(-45deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                transform: translateY(-15px) rotate(45deg);
            }
        }
    }
}
