.p-news {
  //   padding: 50px;
  background: #fff;
  position: relative;

  &__card {
    width: 48%;
    margin-bottom: 24px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #fff;
    @include custumShadow();
    @include custumRadius(5px);
    &:nth-of-type(odd) {
      margin-right: 24px;
    }
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 980px;
    /* margin: 40px auto; */

    @include mq() {
      width: 100%;
    }
  }

  &__wrapp {
    margin-bottom: $space_3l;
    text-align: center;
  }

  &__nav {
    @include custumRadius(5px);
    padding: 15px 20px;
    background-color: $color-default;
  }

  &__title {
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 24px;
    border-bottom: 1px solid;
    width: 50%;
  }

  &__body {
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 130px;
  }

  &__item {
    margin-bottom: $space_s;
    display: flex;
  }

  &__date {
    font-weight: bold;
    margin-right: 10px;
  }
}
