.p-twuser {
  &__title {
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 48px;
    border-bottom: 1px solid;
    width: 50%;
  }
  &__gest {
    padding-top: 48px;
    border-bottom: none;
    font-size: 2rem;
    &__btn{
      width: 30%;
    }
  }
  &__header {
    position: relative;
    width: 90%;
    margin: 16px auto;
    text-align: end;
    @include mq() {
      width: 100%;
      text-align: center;
    }
  }
  &__card {
    position: relative;
    width: 90%;
    margin: 16px auto;
    // margin-bottom: 24px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #fff;
    @include custumShadow();
    @include custumRadius(5px);
    @include mq() {
      width: 100%;
    }
  }
  &__detail {
    padding: 8px;
    border: 1px solid #707070;
    @include custumRadius(5px);
    &__account {
      font-size: 0.9rem;
      color: #999;
      margin-bottom: 8px;
    }
    &__name {
      font-size: 18px;
      font-weight: 600;
    }
    &__item {
      display: flex;
      margin-bottom: 8px;
      &__count {
        display: block;
        font-size: 0.9rem;
        color: #999;
        &:nth-child(even) {
          margin-left: 12px;
        }
      }
    }
    &__tweet {
      &__title {
        font-size: 0.9rem;
        color: #999;
      }
    }
  }
}
