.l-footer {
    height: 80px;
    // display: flex;
    // justify-content: space-between;
    background: $background-footer;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    @include sm() {
        display: block;
        padding-left: 16px;
        padding-right: 16px;
        height: 100%;
    }
}
