.l-main {
  width: 100%;
  height: auto;
  box-sizing: border-box;

  &__common {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  &__auth {
    padding-top: 72px;
    padding-bottom: 40px;
    @include mq() {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
